
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.0.0/dist/js/coreui.min.js" integrity="sha384-0pR6+CQ3+YSoPvs/vb4AgvfnbU03AdP4/HK6hH/8RxK3DI7/8zuRD/8R9ERU3p31" crossorigin="anonymous"></script>


<div class="container mt-5">
    <h2 class="text-center mt-5">Taste Details</h2>



    <h3>{{taste.sweetness}}% sweetness</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{taste.sweetness}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>

    <h3>{{taste.saltiness}}% saltiness</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{taste.saltiness}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>

    <h3>{{taste.sourness}}% sourness</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{taste.sourness}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>

    <h3>{{taste.bitterness}}% bitterness</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{taste.bitterness}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>

    <h3>{{taste.savoriness}}% savoriness</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{taste.savoriness}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>

    <h3>{{taste.fattiness}}% fattiness</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{taste.fattiness}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>

    <h3>{{taste.spiciness}} spiciness (according to scoville score)</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{taste.spiciness}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>
</div>